<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex justify-content-center align-items-center header-transparent">

    <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#serviços">Serviços</a></li>
            <li><a class="nav-link scrollto " href="#agenda">Lista de espera</a></li>
            <li><a class="nav-link scrollto" href="#contato">Contato</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
</header>

<section id="hero">
    <div class="hero-container">
        <h1>Jamal Barber</h1>
        <h2></h2>
        <a href="#about" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a>
    </div>
</section>

<!-- ======= Serviços  ======= -->
<section id="serviços" class="services">
    <div class="container">

        <div class="section-title">
            <span>Nossos Serviços</span>
            <h2>Nossos Serviços </h2>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                    <div class="icon"><img src="https://cdn-icons-png.flaticon.com/512/40/40546.png?" class="icone" alt=""></div>
                    <h4 class="title"><a href="">Corte de cabelo</a></h4>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                    <div class="icon"><img src="https://cdn-icons-png.flaticon.com/512/1216/1216066.png?" class="icone" alt=""></div>
                    <h4 class="title"><a href="">Designer de barba</a></h4>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                    <div class="icon"><img src="https://cdn-icons-png.flaticon.com/512/1234/1234084.png?" class="icone" alt=""></div>
                    <h4 class="title"><a href="">Designer + Corte</a></h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="agenda" class="container">
    <div class="section-title">
        <span>Lista de espera</span>
        <h2>Lista de espera</h2>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <table class="table text-center mt-5">

                <thead>
                    <tr>
                        <td># Fila</td>
                        <td>Cliente</td>
                        <td>Serviço</td>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of fila; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{item.cliente}}</td>
                        <td>{{servicos[item.servico]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- ======= Contato ======= -->
        <section id="contato" class="contact">
            <div class="container">

                <div class="section-title">
                    <span>Contato</span>
                    <h2>Contato</h2>
                    <p>Entre em contato com a nossa empresa</p>
                </div>

                <div class="row">

                    <div class="col-lg-6">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="info-box">
                                    <i class="bx bx-share-alt"></i>
                                    <h3>Perfis Sociais</h3>
                                    <div class="social-links">
                                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                                        <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
                                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info-box mt-4">
                                    <i class="bx bx-envelope"></i>
                                    <h3>Email </h3>
                                    <p>contact@example.com</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info-box mt-4">
                                    <i class="bx bx-phone-call"></i>
                                    <h3>Celular</h3>
                                    <p>19 988506941</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Seu Nome" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Seu Email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="6" placeholder="Menssagem" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Sua menssagem foi enviada. Obrigado!</div>
                            </div>
                            <div class="text-center"><button type="submit">Enviar Menssagem</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>