<!-- ======= Header ======= -->
<header
  id="header"
  class="
    fixed-top
    d-flex
    justify-content-center
    align-items-center

  "
>
  <nav id="navbar" class="navbar">
    <a class="navbar-brand" href="#">
    <div class=" d-flex justify-content-start ">
      <img src="../assets/img/logo_barbearia-removebg-preview.png" alt="">
    </div>
    </a>
    <ul>
      <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
      <li><a class="nav-link scrollto" href="#quemsomos">Quem Somos</a></li>
      <li><a class="nav-link scrollto" href="#serviços">Serviços</a></li>
      <li><a class="nav-link scrollto" href="#agenda">Lista de espera</a></li>
      <li><a class="nav-link scrollto" href="#contato">Contato</a></li>
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
  </nav>
</header>

<section id="hero">
  <div class="hero-container">
    <h1>Anator's Barber</h1>
    <h2></h2>
    <a href="#about" class="btn-scroll scrollto" title="Scroll Down"
      ><i class="bx bx-chevron-down"></i
    ></a>
  </div>
</section>

<!-- ======= Quem somos ======= -->
<section id="quemsomos" class="about">
  <div class="container">
    <div class="section-title">
      <span>Quem Somos</span>
      <h2>Quem Somos</h2>
      <p>A Anator's Barber é uma barbearia fundada em 25 de março de 2004, pela empreendedora Carolina Alecrim, e o conhecido e glamuroso barbeiro, Heitor Camargo. O projeto foi pensado por muito tempo, cada detalhe e, pouco tempo depois, eles resolverem tirar o plano do papel.
        Localizada na Rua das Pedra em Buzios-RJ, o estabelecimento, com mais de dezoito anos no mercado, passou a ser como ponto de referência local pois se encontra na rua mais conhecida da cidade. Com seu stilo classico-moderno, que mantem a elegancia e sotisficação, trazendo uma experiencia sensacional pois contem (além de um otimo trabalho), sala de jogos, open-bar, open-food e uma confortavel sala de espera.</p>
    </div>
  </div>
</section>

<!-- ======= Serviços  ======= -->
<section id="serviços" class="services">
  <div class="container">
    <div class="section-title">
      <span>Nossos Serviços</span>
      <h2>Nossos Serviços</h2>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon">
            <img
              src="https://cdn-icons-png.flaticon.com/512/40/40546.png?"
              class="icone"
              alt=""
            />
          </div>
          <h4 class="title"><a href="">Corte de cabelo</a></h4>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon">
            <img
              src="https://cdn-icons-png.flaticon.com/512/1216/1216066.png?"
              class="icone"
              alt=""
            />
          </div>
          <h4 class="title"><a href="">Designer de barba</a></h4>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon">
            <img
              src="https://cdn-icons-png.flaticon.com/512/1234/1234084.png?"
              class="icone"
              alt=""
            />
          </div>
          <h4 class="title"><a href="">Designer + Corte</a></h4>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ======= Preços ======= -->
<section id="pricing" class="pricing">
  <div class="container">

    <div class="section-title">
      <span>Preços</span>
      <h2>Preços</h2>
      <p>Aqui voce encontra os valores dos nossos pacotes</p>
    </div>

    <div class="row d-flex justify-content-center">

      <div class="col-lg-3 col-md-6">
        <div class="box">
          <h3>Cabelo</h3>
          <h4><sup>$</sup>150</h4>
          <ul>
            <li>Corte de cabelo</li>

          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Clique aqui para agendar</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
        <div class="box featured">
          <h3>Barba</h3>
          <h4><sup>$</sup>100</h4>
          <ul>
            <li>Design de Barba</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Clique aqui para agendar</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
        <div class="box">
          <h3>Combo</h3>
          <h4><sup>$</sup>210</h4>
          <ul>
            <li>Designer de Barba + Corte de Cabelo</li>

          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Clique aqui para agendar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ======= Lista ======= -->
<section id="agenda" class="container">
  <div class="section-title">
    <span>Lista de espera</span>
    <h2>Lista de espera</h2>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <table class="table text-center mt-5">
        <thead>
          <tr>
            <td># Fila</td>
            <td>Cliente</td>
            <td>Serviço</td>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of fila; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.cliente }}</td>
            <td>{{ servicos[item.servico] }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- ======= Contato ======= -->
    <section id="contato" class="contact">
      <div class="container">
        <div class="section-title">
          <span>Contato</span>
          <h2>Contato</h2>
          <p>Entre em contato com a nossa empresa</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-12">
                <div class="info-box">

                  <h3>Perfis Sociais</h3>
                  <div class="social-links">
                    <a href="#" class="twitter">
                      <img src="../assets/social_Twitter_38.png" class="icone" alt="">
                    </a>
                    <a href="#" class="facebook">
                      <img src="../assets/social_facebook_fb_35.png" class="icone" alt="">
                    </a>
                    <a href="#" class="instagram">
                      <img src="../assets/img/instagram_black_logo_icon_147122.png" class="icone" alt="">
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">

                  <h3>Email</h3>
                  <p>anatorsbarber@example.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">

                  <h3>Celular</h3>
                  <p>19 988506941</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <form
              action="forms/contact.php"
              method="post"
              role="form"
              class="php-email-form"
            >
              <div class="row">
                <div class="col-md-6 form-group">
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    id="name"
                    placeholder="Seu Nome"
                    required
                  />
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    placeholder="Seu Email"
                    required
                  />
                </div>
              </div>
              <div class="form-group mt-3">
                <input
                  type="text"
                  class="form-control"
                  name="subject"
                  id="subject"
                  placeholder="Assunto"
                  required
                />
              </div>
              <div class="form-group mt-3">
                <textarea
                  class="form-control"
                  name="message"
                  rows="6"
                  placeholder="Menssagem"
                  required
                ></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Carregando</div>
                <div class="error-message"></div>
                <div class="sent-message">
                  Sua menssagem foi enviada. Obrigado!
                </div>
              </div>
              <div class="text-center">
                <button type="submit">Enviar Menssagem</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <h3>Anator's Barber</h3>
    <p>Quem faz seu estilo é voce</p>
    <img src="../assets/img/Anator_s_barber-removebg-preview.png" alt="">
    <div class="copyright">
      &copy; Copyright <strong><span>Anator's</span></strong>. All Rights Reserved
    </div>
  </div>
</footer><!-- End Footer -->

